
@model SoftFin.Web.Models.AtendimentoStatus
@{
    ViewBag.Title = "Atendimento Status - Exclusão";
}



    <fieldset>
        
        @RenderPage("~/Views/Shared/_BotoesExclusao.cshtml")
        <br />
        <div class='row'>
            <div class='col-md-2 form-group'>
                @Html.LabelFor(x => x.codigo)
                @Html.TextBoxFor(x => x.codigo)
                @Html.ValidationMessageFor(x => x.codigo)
            </div>
            <div class='col-md-3 form-group'>
                @Html.LabelFor(x => x.descricao)
                @Html.TextBoxFor(x => x.descricao)
                @Html.ValidationMessageFor(x => x.descricao)
            </div>
            <div class='col-md-3 form-group'>
                @Html.LabelFor(x => x.usuario)
                @Html.ValueFor(x => x.usuario)
            </div>
        </div>

        
        @RenderPage("~/Views/Shared/_BotoesExclusao.cshtml")
        <div class="alert alert-info">
            
            @ViewBag.msg
        </div>
    </fieldset>



@section scripts{
    
}
<script>
    $(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        $("fieldset input").attr("disabled", "disabled");
        $("select").attr("disabled", "disabled");
    });
</script>