
@model SoftFin.Web.Models.OrigemMovimento
@{
    ViewBag.Title = "Origem Movimento - Exclusão";
}



    <fieldset>
        
        @RenderPage("~/Views/Shared/_BotoesExclusao.cshtml")
        <div class='container-fluid'>
            @Html.HiddenFor(x => x.id)

            <div class='row'>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.Modulo)

                    @Html.TextBoxFor(x => x.Modulo, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Modulo)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.Tipo)

                    @Html.TextBoxFor(x => x.Tipo, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Tipo)
                </div>            
            </div>
        </div>

        
        @RenderPage("~/Views/Shared/_BotoesExclusao.cshtml")
        <div class="alert alert-info">
            
            @ViewBag.msg
        </div>
    </fieldset>



@section scripts{
    
}
<script>
    $(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
    });
    $("fieldset input").attr("disabled", "disabled");
    $("select").attr("disabled", "disabled");
</script>