@model SoftFin.GestorProcessos.Models.TipoCampo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TipoCampo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateHTML)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateHTML)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateHTMLModal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateHTMLModal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateJSControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateJSControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateJSScript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateJSScript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoBancoDados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoBancoDados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SQLDefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SQLDefault)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
