@model SoftFin.GestorProcessos.Models.Visao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tabela.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tabela.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVisao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVisao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
