@model SoftFin.Web.Models.FolhaPagamento

@{
    ViewBag.Title = "Folha de Pagamento- Alteração";

}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        

        @RenderPage("~/Views/Shared/_BotoesAlteracao.cshtml")
        <div class='container-fluid'>
            @Html.HiddenFor(x => x.id)
            <div class='row'>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.folhapagamentotipo_id)
                    @Html.DropDownListFor(model => model.folhapagamentotipo_id, (SelectList)ViewData["folhapagamentotipo"], "---Selecione---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.folhapagamentotipo_id)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.unidadenegocio_id)
                    @Html.DropDownListFor(model => model.unidadenegocio_id, (SelectList)ViewData["unidadenegocio"], "---Selecione---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.unidadenegocio_id)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.funcionario_id)
                    @Html.DropDownListFor(model => model.funcionario_id, (SelectList)ViewData["funcionario"], "---Selecione---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.funcionario_id)
                </div>
            </div>
            <div class="row">
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.dataBase)
                    @Html.TextBoxFor(x => x.dataBase, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.dataBase)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.DataPagamento)
                    @if (Model.DataPagamento == null)
                    {
                        <input type='text' id='DataPagamento' class="form-control" name='DataPagamento' />
                    }
                    else
                    {
                        <input type='text' id='DataPagamento' class="form-control" name='DataPagamento' value='@Model.DataPagamento.ToString("dd/MM/yyyy")' />
                    }
                    @Html.ValidationMessageFor(x => x.DataPagamento)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.valor)
                    @Html.TextBoxFor(x => x.valor, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.valor)
                </div>
            </div>
        </div>

        @RenderPage("~/Views/Shared/_BotoesAlteracao.cshtml")
    </fieldset>
}
        <div class="alert alert-info">
            

            @ViewBag.msg
        </div>
<script>

    $(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
    });

    $('#DataPagamento').datepicker({ dateFormat: 'dd/mm/yy' });
    $('#DataPagamento').keyup(
      function (event) {
          formataData(this, event);
      });

    $('#dataBase').datepicker({ dateFormat: 'dd/mm/yy' });
    $('#dataBase').keyup(
      function (event) {
          formataData(this, event);
      });

    $('#valor').attr('maxlength', '18');
    $('#valor').keyup(
      function (event) {
          formataValor(this, event);
      });

</script>
