@model IEnumerable<SoftFin.GestorProcessos.Models.VisaoCampo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TabelaCampo.Campo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visao.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transferivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PadraoSalva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenciaNgModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenciaNgChange)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TabelaCampo.Campo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visao.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transferivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PadraoSalva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenciaNgModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenciaNgChange)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
