@model SoftFin.Web.Models.Calendario
@{
    ViewBag.Title = "Calendário - Excluir";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        
        @RenderPage("~/Views/Shared/_BotoesExclusao.cshtml")
        <div class='container-fluid'>
            @Html.HiddenFor(x => x.id)
            <div class='row'>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.data)
                    <input type='text' id='data' name='data' class='form-control'  
                        value='@Model.data.ToString("dd/MM/yyyy")' 
                         />
                    @Html.ValidationMessageFor(x => x.data)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.descricao)
                    @Html.TextBoxFor(x => x.descricao, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.descricao)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.tipoData_ID)
                    @Html.DropDownListFor(x => x.tipoData_ID, (SelectList)ViewData["TipoData"], "--Selecione--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.tipoData_ID)
                </div>
            </div>
        </div>
        <div class='alert alert-info'>
            @ViewBag.msg
        </div>
        @RenderPage("~/Views/Shared/_BotoesExclusao.cshtml")
    </fieldset>
}


<script type="text/javascript">
    $(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        $("fieldset input").attr("disabled", "disabled");
        $("select").attr("disabled", "disabled");
    });
</script>
