@{
    Layout = "";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>SoftFin</title>
    <link rel="shortcut icon" href="../../Content/site/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Roboto:300,400,500,700|Raleway:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../Content/site/css/style.css?ver5">
    <link rel="stylesheet" type="text/css" href="../../Content/site/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../Content/site/css/owl.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Site/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="fb-root"></div>
    @Html.Partial("_Escripts")


    <header>
        <div class="barra-cima-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="infos_left_top">
                            <ul>
                                <li><a href="tel:+551139001054"><i class="fa fa-phone"></i> 11 3900-1054</a></li>
                                <li><a href="https://api.whatsapp.com/send?phone=5511987941053&text=SoftFin"><i class="fa fa-whatsapp"></i> 11 98794-1053</a></li>
                            </ul>
                        </div>
                    </div>




                    <div class="col-md-6">
                        @Html.Partial("_MenuCimaCima")
                    </div>
                </div>
            </div>
        </div>
        <div class="barra-baixo-header">
            <div class="menu-geral menuHeader menu_interna">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index">
                            <img src="../../Content/site/img/logo_softfin.png" alt="Softfin" style="width:160px">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">


                            <ul class="navbar-nav ml-auto menu-desk">
                                @Html.Partial("_MenuCima")
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>

    <section>
        <div class="head_fixo" style="background:url('../../Content/site/img/Simplicidade.png');height:340px;background-size: cover;background-position: center;">
            <div class="container">
                <div class="banner_fixo_simplicidade">

                    <ul class="breadcrumb">
                        <li><a href="./">Home</a></li>
                        <li>Simplicidade</li>
                    </ul>

                    <h2>Jornada gestão Financeira<br> Softfin</h2>


                    <div class="form_banner_fixo">
                        <form>
                            <input type="email" id="email02" placeholder="Insira seu E-mail" required>
                            <button type="submit" id="btnemail02" style="cursor:pointer">Enviar</button>
                            <div class="simple-msg"></div>
                            <div id="error_message" class="ajax_response msg_erro" style="float:left"></div>
                            <div id="success_message" class="ajax_response msg_sucesso" style="float:left;"></div>
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </section>


    <div class="promocao_simplicidade">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="promocao_text_simplicidade">
                        <span>SoftFin: Sistema de gestão financeira na nuvem com uma equipe a sua disposição para operar o seu financeiro.</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="btn_promocao_simplicidade">
                        <a href="#"  data-toggle="modal" data-target="#ModalLoginForm">EXPERIMENTE GRÁTIS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section>
        <div class="content_internas_padrao" style="padding: 4em 0 0;">
            <div class="container">
                <div class="content_simplicidade">
                    <h2 style="font-size: 40px;">
                        Sua empresa precisa de Gestão Financeira? <br>
                        Veja o método tradicional
                    </h2>

                </div>
            </div>

            <div class="content_financeira">

                <img id="myImg" alt="VEJA O MÉTODO TRADICIONAL" src="../../Content/site/img/Atividades-Fim_dois.jpg">

                <div class="hover_style">
                    <div class="hover_1_style"></div>
                    <div class="hover_2_style"></div>
                    <div class="hover_3_style"></div>
                </div>

            </div>

        </div>
    </section>





    <section style="padding-bottom: 3em;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title_simplicidade">
                        <h2 style="font-size: 40px;">Veja como a SoftFin Simplifica sua vida</h2>
                    </div>
                </div>

            </div>
        </div>



        <div class="content_financeira">

            <img id="myImg2" alt="VEJA COMO A SOFTFIN SIMPLIFICA SUA VIDA" src="../../Content/site/img/Atividades-Fim_clean.jpg">

            <div class="hover_style">
                <div class="hover_1_style"></div>
                <div class="hover_2_style"></div>
                <div class="hover_3_style"></div>
            </div>

        </div>


    </section>



    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close" style="font-size: 40px;color: white;">&times;</span>
        <img class="modal-content" id="img01" style="max-width: 100% !important;">
        <div id="caption"></div>
    </div>

    <!-- The Modal -->
    <div id="myModal2" class="modal">
        <span class="closedois" style="font-size: 40px;color: white;">&times;</span>
        <img class="modal-content" id="img012" style="max-width: 100% !important;">
        <div id="caption2"></div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }</script>

    <script>
        // Get the modal
        var modal = document.getElementById('myModal2');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg2');
        var modalImg = document.getElementById("img012");
        var captionText = document.getElementById("caption2");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closedois")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }</script>



    @Html.Partial("_Experimente")
    <section>
        <div class="novidades_home">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="newslatter_text">
                            <h2>SIMULE SEU INVESTIMENTO AGORA!</h2>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="btn_simule_fixo_pages">
                            <a href="simule">Simular Já <i class="fa fa-usd"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("_Rodape")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../Content/site/js/bootstrap.js"></script>
    <script src="../../Content/site/js/owl.js"></script>
    <script src="../../Content/site/js/scripts.js"></script>
    <script src="../../Content/site/js/validacao_contact_form7.js"></script>
    <script src="~/Content/Site/js/site.js"></script>
</body>
</html>

