@{
    Layout = "";
    }
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>SoftFin</title>
    <link rel="shortcut icon" href="../../Content/site/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Roboto:300,400,500,700|Raleway:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../Content/site/css/style.css?ver5">
    <link rel="stylesheet" type="text/css" href="../../Content/site/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../Content/site/css/owl.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Site/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="fb-root"></div>
    @Html.Partial("_Escripts")

    <header>
        <div class="barra-cima-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="infos_left_top">
                            <ul>
                                <li><a href="tel:+551139001054"><i class="fa fa-phone"></i> 11 3900-1054</a></li>
                                <li><a href="https://api.whatsapp.com/send?phone=5511987941053&text=SoftFin"><i class="fa fa-whatsapp"></i> 11 98794-1053</a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-md-6">
                        @Html.Partial("_MenuCimaCima")
                    </div>
                </div>
            </div>
        </div>
        <div class="barra-baixo-header">
            <div class="menu-geral menuHeader menu_interna">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index">
                            <img src="../../Content/site/img/logo_softfin.png" alt="Softfin" style="width:160px">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">


                            <ul class="navbar-nav ml-auto menu-desk">
                                @Html.Partial("_MenuCima")
                            </ul>



                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>


    <section>
        <div class="head_fixo" style="background:url('./img/blog_soft_fim.jpg');height: 340px;;background-size: cover;background-position: center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="banner_fixo_simplicidade">
                            <span style="padding-top: 2em;">Sistema de Gestão</span>
                            <h2 style="font-size: 50px;">Notícias SoftFin</h2>
                        </div>
                    </div>

                    <div class="col-md-5"></div>
                </div>
            </div>
        </div>
    </section>


    <div class="content_noticias_soft">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="content_nnoticias">
                        <div class="post_unico">
                            <div class="img_post_unico" style="background:url('https://keithabraham.com/wp-content/uploads/2018/01/2018_blog2.jpg');height: 330px;background-size: cover;background-position: center;background-repeat: no-repeat;"></div>

                            <div class="title_post_unico">
                                <h2 style="margin-bottom: 1em;">Titulo do post</h2>


                                <div class="row">
                                    <div class="col-md-9">

                                        <div class="content_infos">
                                            <div class="padrao_infos_blog calemdarios"><i class="fa fa-calendar"></i> 20 de fevereiro de 2018</div>

                                            <div class="padrao_infos_blog tags_post"><i class="fa fa-tags"></i> <span><a href="#">Financeiro</a></span> <span><a href="#">Financeiro</a></span></div>
                                        </div>
                                    </div>

                                    <div class="col-md-3"></div>
                                </div>


                            </div>

                            <div class="resumo_post_unico">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel orci blandit, lobortis libero id, rutrum nulla. Donec tincidunt, libero sit amet consectetur malesuada, erat nisl commodo quam, eget tincidunt neque nulla eget quam. Integer nisi sem, sagittis vel fermentum nec, egestas ultricies arcu. Nullam scelerisque risus in sem semper condimentum. Suspendisse mollis eros pharetra gravida feugiat. Praesent at tristique purus. Quisque pulvinar lobortis enim non auctor. Phasellus commodo commodo tincidunt. Pellentesque nec bibendum metus.<br><br>
                                    Quisque molestie nibh massa. Nam non porttitor felis, posuere venenatis ex. Ut volutpat nisl id tortor porttitor venenatis quis at elit. Integer in mi vitae sapien dictum bibendum in id mauris. Donec sed tellus odio. Pellentesque aliquet non purus rhoncus sagittis. Cras fermentum, dolor eget laoreet dictum, quam tellus sollicitudin odio, quis ullamcorper dolor tellus quis ipsum. Nam sit amet ex vitae ante viverra porttitor. Morbi congue sagittis ornare. Praesent mollis ut enim vel interdum. Morbi luctus scelerisque nibh pharetra consectetur. Maecenas hendrerit ante ut eros commodo dictum. Nullam non tristique nisi, nec placerat nibh. Aenean in massa sed lectus pulvinar sagittis id ut tellus.<br><br>
                                    Aliquam in tortor ac risus volutpat tempus nec non est. Aenean sollicitudin massa semper sem blandit, non semper nulla cursus. Phasellus elit elit, faucibus vel pharetra sed, hendrerit sit amet turpis. Praesent vel tincidunt nunc, vitae suscipit dui. Pellentesque rhoncus augue et vehicula aliquam. Ut quis consectetur eros. Sed dui leo, pharetra ut orci a, maximus blandit diam. Duis at lacus consectetur, malesuada ex id, pellentesque enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ultrices non mi at semper. Fusce posuere, tortor malesuada ornare lobortis, mauris sem viverra dui, non finibus massa augue non sem. Donec eu sagittis mi. Donec fringilla, diam et sodales imperdiet, dui sem elementum enim, at faucibus leo lorem at ligula. Vivamus lectus massa, sagittis non bibendum vitae, ultrices vel lorem. Donec iaculis sit amet nisl vitae malesuada. Fusce tempor, nulla a volutpat venenatis, ante lacus blandit dui, et semper nulla justo nec nulla.<br><br>
                                    Phasellus malesuada lectus vitae lobortis eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam semper ante est, ac pellentesque erat auctor vitae. Maecenas lorem est, ornare sed luctus ac, elementum et purus. Curabitur ac egestas metus. Vestibulum imperdiet iaculis arcu, vel vehicula risus posuere a. Vestibulum mollis imperdiet congue. Praesent bibendum est nec lacus facilisis, aliquam porta massa laoreet. Ut arcu sapien, sagittis ut augue eget, consectetur faucibus neque. Mauris maximus, ligula sit amet euismod congue, lacus sem mattis nisi, nec facilisis eros magna vel massa. Sed finibus purus mi, in posuere risus pulvinar eget. Suspendisse id lacinia leo. Aenean tempus, ligula in aliquam efficitur, nunc erat auctor libero, non ultrices massa elit vel justo. Donec imperdiet, libero egestas posuere semper, mi purus pharetra sapien, non vulputate nisl erat at ante.
                                </p>
                            </div>

                            <div class="bloco_infos_post">

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sidebar_noticias">
                        <div class="pesquisa_sidebar_blog">
                            <form>
                                <div>
                                    <input type="search" id="mySearch" name="q" placeholder="Pesquise aqui...">
                                    <button><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>

                        <div class="categorias_blog_sidebar bafore_lateral">
                            <h3 style="margin-bottom: 22px;">Categorias</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i> Categoria 1</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i> Categoria 2</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i> Categoria 3</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i> Categoria 4</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i> Categoria 5</a></li>
                            </ul>
                        </div>

                        <div class="mais_post_sidebar bafore_lateral">
                            <h3>Mais Notícias</h3>

                            <div class="bloco_post_lateral">
                                <a href="#">
                                    <img src="https://keithabraham.com/wp-content/uploads/2018/01/2018_blog2.jpg">
                                </a>

                                <div class="title_post_lateral">
                                    <a href="#">
                                        <h4>Titulo do post</h4>
                                    </a>
                                    <div class="data_post_lateral">
                                        <span><i class="fa fa-clock-o"></i> 18 de setembro, 2018</span>
                                    </div>
                                </div>
                            </div>

                            <div class="bloco_post_lateral">
                                <a href="#">
                                    <img src="https://keithabraham.com/wp-content/uploads/2018/01/2018_blog2.jpg">
                                </a>

                                <div class="title_post_lateral">
                                    <a href="#">
                                        <h4>Titulo do post</h4>
                                    </a>
                                    <div class="data_post_lateral">
                                        <span><i class="fa fa-clock-o"></i> 18 de setembro, 2018</span>
                                    </div>
                                </div>
                            </div>

                            <div class="bloco_post_lateral">
                                <a href="#">
                                    <img src="https://keithabraham.com/wp-content/uploads/2018/01/2018_blog2.jpg">
                                </a>

                                <div class="title_post_lateral">
                                    <a href="#">
                                        <h4>Titulo do post</h4>
                                    </a>
                                    <div class="data_post_lateral">
                                        <span><i class="fa fa-clock-o"></i> 18 de setembro, 2018</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lateral_tags bafore_lateral">
                            <h3>Tags</h3>

                            <ul>
                                <li><a href="#">Tag 1</a></li>
                                <li><a href="#">Tag 2</a></li>
                                <li><a href="#">Tag 3</a></li>
                                <li><a href="#">Tag 4</a></li>
                                <li><a href="#">Tag 5</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("_Experimente")
    <section>
        <div class="novidades_home">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="newslatter_text">
                            <h2>SIMULE SEU INVESTIMENTO AGORA!</h2>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="btn_simule_fixo_pages">
                            <a href="simule">Simular Já <i class="fa fa-usd"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("_Rodape")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../Content/site/js/bootstrap.js"></script>
    <script src="../../Content/site/js/owl.js"></script>
    <script src="../../Content/site/js/scripts.js"></script>
    <script src="../../Content/site/js/validacao_contact_form7.js"></script>
    <script src="~/Content/Site/js/site.js"></script>
</body>
</html>