@model SoftFin.Web.Models.NotadeDebito
@{
    ViewBag.Title = "Nota de Débito - Receber";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class='row'>
            <div class="button-row form-group">
                <button class="btn btn-primary" type="submit">Receber Nota</button>
                @Html.ActionLink("Voltar", "/Index", new object(), new { @class = "btn btn-default", role = "button" })
            </div>
        </div>
        <div class='container-fluid'>
            @Html.HiddenFor(x => x.id)
            <div class='row'>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.numero)
                    <br />
                    @Html.TextBoxFor(model => model.numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.numero)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.DataEmissao)
                    <br />
                    <input type='text' id='DataEmissao' name='DataEmissao' class = "form-control" value='@Model.DataEmissao.ToShortDateString()' />
                    @Html.ValidationMessageFor(x => x.DataEmissao)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.DataVencimento)
                    <br />
                    <input type='text' id='DataVencimento' name='DataVencimento' class = "form-control" value='@Model.DataVencimento.ToShortDateString()' />
                    @Html.ValidationMessageFor(x => x.DataVencimento)
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.cliente_id)
                    <br />
                    @Html.DropDownListFor(model => model.cliente_id, (SelectList)ViewData["cliente"], "---Selecione---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.cliente_id)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.valor)
                    <br />
                    @Html.TextBoxFor(model => model.valor, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.valor)
                </div>
                <div class='col-md-3 form-group'>
                    @Html.LabelFor(x => x.DataRecebimento)
                    <br />
                    <input type='text' id='DataRecebimento' name='DataRecebimento' class = "form-control" value='@ViewData["DataRecebimento"]' />
                    @Html.ValidationMessageFor(x => x.DataRecebimento)
                </div>
            </div>
            <div class='row'>
                <div class='col-md-9 form-group'>
                    @Html.LabelFor(x => x.descricao)
                    <br />
                    @Html.TextAreaFor(x => x.descricao, 7, 1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.descricao)
                </div>
            </div>
            <div class='row'>
                <div class='col-md-9 form-group'>
                    @Html.LabelFor(x => x.comentario)
                    <br />
                    @Html.TextAreaFor(x => x.comentario, 3, 1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.comentario)
                </div>
            </div>
        </div>
        <div class='alert alert-info'>
            @ViewBag.msg
        </div>
    </fieldset>
}
<script>
    $(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
    });
    $('input[type!=hidden]').attr('disabled', 'disabled')
    $('select').attr('disabled', 'disabled')
</script>
